.custom-nav {
  position: fixed;
  top: 0;
  left: 250px;
  right: 0;
  height: 50px;
  display: flex;
  border-bottom: 1px solid var(--c-gray-light);
}

.custom-nav .option {
  display: flex;
  padding: 5px;
}

.custom-nav .option a {
  color: var(--c-primary);
  margin: auto 0;
}